<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beats Per Minute</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
  <body>
    <header class = "p-4 my-2 bg-light rounded-3">
        <div class = "container-fluid">
            <h1 class="pageHdr text-center">Beats per Minute</h1>
            <h3 class="subHdr text-center" style="font-weight: normal;">Elevate Your Fitness, Empower Your Life.</h3>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
    
    </nav>         

    <h3 class="bodyHdr text-center" id="mealPlanHdr">My Meal Plan</h3>

    <button type="button" style= "font-weight: bold" class="btn btn-primary" id="addNewMealBttn">+ New Meals</button>

    <div class= "container">
        <div class= "row"> 
           
            <div class = "col-4">
               <div class="card mb-3" >
               <div class="card-body">
               <h5 class="card-title" id="mp1CardTitle">Special title treatment</h5>
               <p class="card-text" id="mp1CardText">With supporting text below as a natural lead-in to additional content.</p>
               <div class="d-grid gap-1 d-md-flex justify-content-md-end">
               <button type="button" class="btn btn-outline-primary" id="mp1EditBttn">Edit</button>
               <button type="button" class="btn btn-outline-danger" id="mp1DeleteBttn">Delete</button>
               </div>
               </div>
               </div>
            </div>
     

    
            <div class = "col-4">
              <div class="card mb-3" >
              <div class="card-body">
              <h5 class="card-title" id="mp2CardTitle">Special title treatment</h5>
              <p class="card-text" id="mp2CardText">With supporting text below as a natural lead-in to additional content.</p>
              <div class="d-grid gap-1 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-primary" id="mp2EditBttn">Edit</button>
              <button type="button" class="btn btn-outline-danger" id="mp2DeleteBttn">Delete</button>
              </div>
              </div>
              </div>
            </div>

     
            <div class = "col-4">
              <div class="card mb-3" >
              <div class="card-body">
              <h5 class="card-title" id="mp3CardTitle">Special title treatment</h5>
              <p class="card-text" id="mp3CardText">With supporting text below as a natural lead-in to additional content.</p>
              <div class="d-grid gap-1 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-primary"id="mp3EditBttn">Edit</button>
              <button type="button" class="btn btn-outline-danger"id= "mp3DeleteBttn">Delete</button>
              </div>
              </div>
              </div>
            </div>
         
        
        </div> 
            
    </div>
    

</div>