<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beats per Minute</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
  <body>
    <header class = "p-4 my-2 bg-light rounded-3">
        <div class = "container-fluid">
            <h1 class="pageHdr text-center">Beats per Minute</h1>
            <h3 class="subHdr text-center" style="font-weight: normal;">Elevate Your Fitness, Empower Your Life.</h3>
        </div>
    </header>
        <h3 class="loginHdr">Login</h3>
    <form>

        <div class="mb-3" id="loginFormEmail">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3" id="loginFormPassword">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        </div>

        <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
      </form>

    <h3 class="signUpHdr">Sign up</h3>

      <form id="SignUpForm">
        <div class="mb-3" id="signUpFormName">
            <label for="inputName" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

        <div class="mb-3" id="signUpFormEmail">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3" id="signUpFormPassword">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          
        </div>
        <button type="submit" class="btn btn-primary" id="singUpBtn">Sign up</button>
      </form>
   
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>