/* styling for login page */

.loginHdr {
    position: relative;
    left: 400px;
    top: 40px;
    padding-bottom: 30px;
}


.signUpHdr {
    position: relative;
    left: 1020px;
    bottom: 300px;
   
}


#singUpBtn {
    position: relative;
    left: 175px;
    bottom: 40px;

}

#loginButton {
    position: relative;
    left: 175px;
    bottom: 40px;
   
}

.mb-3 {
    padding-left: 175px;
    padding-top: 10px;
}

#SignUpForm {
   position: relative;
   left: 650px;
   bottom: 313px;
    
}

.form-control {
   width: 500px;
}

/* styling for dashboard page */

#dashboardCrds{
    padding-left: 350px;
    padding-right: 350px;
    text-align: center;
}

#dashboardHdr {
    padding-bottom: 25px;
    padding-top: 35px;
}
