.pageHdr{
    position:relative;
   left: 600px;   
   }
   
   
   
   .loginHdr,
   .signUpHdr {
       position: relative;
       left: 500px;
       bottom: 10px;
       top: 10px;
   }
   
   
   #singUpBtn,
   #loginButton {
       position: relative;
       left: 500px;
       bottom: 40px;
      
   }
   
   .mb-3 {
       padding-left: 500px;
       padding-top: 15px;
   }
   
   .form-control {
   width: 500px;
   }